<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <!-- Console Appender with JSON Layout -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <JsonLayout
                    compact="true"
                    eventEol="true"
                    stacktraceAsString="true" />
        </Console>

        <!-- File Appender for saving log -->
        <File name="FileAppender" fileName="logs/service-log.json">
            <JsonLayout
                    compact="false"
                    eventEol="true"
                    stacktraceAsString="true" />
        </File>
    </Appenders>

    <Loggers>
        <!-- Application Logger -->
        <Logger name="com.project.traveller.service" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Logger>

        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Root>
    </Loggers>
</Configuration>